* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 100%; /* Base font-size = 16px */
}


a {
    color: #0083A1;
    text-decoration: none;
}

figure {
    margin: 0.25em 1em 0.25em 0;
    float: left;
}


time {
	font-style: italic;
	font-size: 0.75em; /* 12px / 16px */
    display: block;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

nav {
    background-color: #21160C;
    overflow: hidden;
}

nav ul {
    list-style: none;
}

nav ul li {
    width: 25%;
    float: left;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.75em 0.25em; /* 12px / 16px | 4px / 16px */
    display: block;
}

header{
    clear: both;
}

header h1, header h2 {
	display: none;
}

header #logo {
    background: url(../i/logo-small.png) no-repeat center bottom;
    height: 120px;
    width: 100%;
}

section, aside {
    margin: 4em 1em; /* 64px / 16px | 16px / 16px */
}

section#main {
    margin-top: 2em; /* 32px / 16 px */
}
article {
    clear: both;
}

article h2 {
	font-size: 1.25em; /* 20px / 16 px */
}

article p {
    margin: 1em 0; /* 16px / 16px */
    text-align: justify;
}

section h2, aside h2 {
	font-size: 1.25em; /* 20px / 16 px */
}


section h3, aside h3 {
	font-size: 1.125em; /* 18px / 16px */
    margin: 1em 0 0; /* 16px / 16px */
}

aside ul {
	list-style: none;
	margin: 0.5em 0; /* 8px / 16px */
	border-top: solid 0.125em #e3dcc0; /* 2px / 16 px */
}

aside ul li {
	border-bottom: solid 0.125em #e3dcc0; /* 2px / 16 px */
	padding: 0.5em 0; /* 8px /16px */
}

aside ul li span {
	display: block;
	font-size: 0.9em; /* 12px / 16 px */
}

.icon {
    background-image: url(../i/social-header.png);
    width: 48px;
    height: 48px;
    display: inline-block;
}

.twitter {
    background-position: -240px -212px;
}

.facebook {
    background-position: -288px -48px;
}

footer {
    padding: 1em 0;
    background-color: #21160C;
    color: #fff;
    padding:  3em 1em; /* 48px / 16px | 16px / 16px */
    overflow: hidden;
    text-align: right;
}
